/* uncomment the below selector to get a fixed-width layout. *
 * 60em is equivalent to 960px in this case, and every       *
 * grid cell will be 40px with 10px padding.                 */

#visual-portal-wrapper { max-width: 990px; margin: 0 auto; }



#portal-footer {
    background-color: #FFFFFF;
    border-top: 2px solid #444;
    font: 13px "Open Sans","微軟正黑體",sans-serif;
    width: 100%;
    padding:0em;
    padding-top: 5px;
}

/* To change the link color (or the navigation link  background), uncomment *
 * the selectors below, and insert new color values:                        */

/*
a:link, a:visited, #content a:link, #content a:visited, dl.portlet a:link, dl.portlet a:visited { 
    color: red;
}
#portal-globalnav .selected a, #portal-globalnav a:hover { 
    background-color: red;
}
*/

/* To change the edit bar color, uncomment the selectors below, and insert *
 * new color values:                                                        */

/*
#contentActionMenus,
dl.actionMenu.activated dd,
#content-views,
#edit-bar {
	background-color: blue;
	border-color: blue;
}
dl.actionMenu a {
	background-color: blue;
}
*/

/* If you want to hide the path bar (aka. breadcrumbs), uncomment the below: */

/*
#breadcrumbs-you-are-here,
#breadcrumbs-home,
#breadcrumbs-current,
#breadcrumbs-1 {
    display: none;
}
*/

/* If you want variables in the CSS (for example for colors that are used     *
 * in several locations), Plone has a built-in facility for this. An example  *
 * is shown below, the variables are defined in the file "base_properties",   *
 * and below we show the syntax for using them directly in the CSS file.      *
 * Note that you always need to surround the relevant part (or the entire CSS *
 * file) with the dtml-with statements for it to work.                        */

/*

/* 
    #content a:link { color: #436976; }
*/


#portal-breadcrumbs {
    font-size: 0.8em;
    margin-bottom: 0em;
    color:#888;
    line-height: 1.5em;
    margin-left: 0.25em;
    margin-top: 0.5em;
}
#breadcrumbs-current{
    color:#888;
    font-family: "Open Sans","微軟正黑體",sans-serif;
}

dl.portlet a:link {
    border-bottom: 0px solid #CCCCCC;
    color: #333;
}
dl.portlet a:visited {
    border-bottom: 0em solid #CCCCCC;
    color: #333;
}

#content a:hover, dl.portlet a:hover {
    border-bottom: 0px solid #CCCCCC;
    color: #cc0000 !important;
}

#content img.tileImage, #content div.newsImageContainer {
    float: left; /* marr 2013-04-15 */
    margin:0em 1em 0.5em 0em;
   /*margin: 6em 0 0.5em 1em;*/
}
.documentDescription {
    border-bottom: 6px solid #ddd;
    padding-bottom: 24px;
    color:#4c4c4c;
}
#content-core ul {
    font-weight: normal;
}
#content-core p {
    /*font-size: 13px;*/
    font-weight: normal;
}
.tileBody {
    margin-top: 0px;
}

.tileItem {
   border-bottom:1px #d1d1d1 dotted;
   margin-top:10px;
   padding-bottom: 5px;
   padding-top: 5px;
}
.tileFooter{
  background: url("pic/arrow2.gif") no-repeat scroll 0px 3px transparent;
  padding-left: 14px;
  display:inline-block;

}
.tileFooter span{
   margin-bottom:-5px;
   font-size: 12px;
}

.tileHeadline{
   margin-bottom:5px;
   font-weight:bold;
}
h1 {
    font-size: 1.45em;
    margin-bottom: 7px;
}

h2 {
    font-family:"Open Sans","微軟正黑體",sans-serif;
    letter-spacing:0.02em;
    font-size: 1.05em;
}

.transparent_widget .uiBoxLightblue {
    background-color: #AF193F;
}
.fcb {
    color: #FFFFFF;
}
.top-info {
    color: #444;
    font-family: "Open Sans","微軟正黑體",sans-serif;
    font-size: 14px;
    float:right;
    line-height: 18px;
    margin-top: 11px;
    padding-left: 10px;
    padding-right: 0px;	
    padding-bottom:10px;
}

.footer-info {
    display: inline-block;
    width: 60%;
}

.contactinfo{
    display: inline;
    width:100%
}

.contactinfo span {
    display: inline-block;
}
.documentLocation.link-location {
    color: #888888;
    font-style: normal;
    font-weight: normal;
}
.ts-address{
    margin-right:10px;
}
.ts-phone{
    margin-right:10px;
}
.e-mail{
    background-image: url("pic/e-mail.gif");
    background-position: 0 center;
    background-repeat: no-repeat;
    color: #444444;
   /* float: right;*/
    height: 18px;
   /* padding-bottom: 8px;*/
    padding-left: 20px;
}
.e-mail a:hover{
    color:#cc0000;
}
.recommendAction{
    background: none repeat scroll 0 0 #ECEEF5;
    border:1px solid #CAD4E7;
    border-radius: 3px 3px 3px 3px;
    color: #3B5998;
    cursor: pointer;
    padding: 2px 8px 4px;
    white-space: nowrap;
    margin-right:10px;
}
.banner-box{
    margin-bottom:15px;
}

#socialtools {
    display:inline-block;
    float: right;
}

.newsImageContainer img {
    margin-right: 10px;
}

.state-published {
    color: #0f659b !important;
}

#content table td {
    color: #333333;
    /*font-size: 13px;*/
    padding-left: 5px;
    padding-top: 5px;
}

.Size12 {
    color: #666666;
    font-size: 13px;
}

.committee-box{
    background-color:#eee;
}

.authoritem-column img{
     width:52px;
     height:43px;
}

#disqus_thread{
    clear:both;
    border-top: 1px dotted #BBBBBB;
    margin-top: 30px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom:15px;
}

.weblink {
    float: right;
    height: 21px;
    margin-bottom: 7px;
    margin-right: 3px;
    margin-top: -7px;
    padding-bottom: 7px;
    width: 84px;
}

.weblink  a img:hover {
    background-image: url("/pic/weblink_normal.png");
    top: 0px;
}


.suggest-info{
    font-family:"Open Sans","微軟正黑體",sans-serif;
    color:#888;
    font-size:11px;
}

.posticon{
    float:right;
    margin-top:-60px;
}
.publication{
    float:right;
    margin-top:-50px;
}

/* ===========================================================================advanced searching left side*/

#sidebar {
    /*background: none repeat scroll 0 0 #F5F5F5;*/
    /*border-radius: 3px 3px 3px 3px;*/
    /*padding: 15px;*/
      font-size:90%;
}

#sidebar .sideblock {
   /* margin-bottom: 10px;*/
}

#sidebar h3.title {
    color: #333;
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 6px;
}

#sidebar h3.title img {
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 3px;
}
#sidebar ul.menu {
   border-bottom: 1px solid #eee;
    margin: 0;
}
#sidebar ul.menu ul {
    margin: 0 0 0 20px;
}
#sidebar ul.menu li a {
    background-image: url("pic/menu-bullet.png");
    background-position: left center;
    background-repeat: no-repeat;
    border-top: 1px solid #eee;
    border-bottom: 0px solid #fff;
    display: block;
    padding: 2px 0 2px 13px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}
#sidebar ul.menu li a:hover {
    background-color: #EEEEEE;
}

/* ------------------------------------------------------*/

#default-cgmap, #geosettings-cgmap {
    border: 3px solid #eee;
    height: 450px;
}

#portal-columns {
    margin-top: 10px;
}

.go_button {
    color: #000;
    font-family: "Open Sans","微軟正黑體",sans-serif;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    margin-top:3px;
}

.location_form {
    color: #333333;
    font-family: "Open Sans","微軟正黑體",sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    margin-top: 5px;
    padding-left: 0;
    width: 85%;
}
/* ===========================================================================提名觀察人. 現任*/

ul.listing {
    clear: both;
    font-size: 75%;
    line-height: 1.5em;
    /*margin: 3em 0;*/
}
ul.listing .component {
    margin-bottom: 0;
}
ul.listing h2 {
    /*border: medium none;*/
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom:5px;
    font-weight:bold;
}

ul.listing li {
    border-bottom: 1px solid #8CACBB;
    margin: 0;
    overflow: hidden;
    padding: 1em;
}
ul.listing li .component {
    background-color: transparent;
}
ul.listing li .component a, ul.listing li .component span {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    margin-bottom:7px;
}
ul.listing li .component a img, ul.listing li .component span img {
    display: block;
}

ul.listing-columns {
    overflow: hidden;
}
ul.listing-columns .component {
    margin-bottom: 0.5em;
}
ul.listing-columns li {
    background-color: transparent;
    border-bottom: 0 none;
    float: left;
    margin-right: 1.3em;
    padding: 0;
    width: 220px;
    height:280px;
}
ul.listing-columns li .component a, ul.listing-columns li .component span {
    height: 184px;
}

.leadImageContainer {
    float: right;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: -58px;

}
.leadImageContainer img{
    width:150px;
    height:125px;

}
.nomi-year-info{
    color: #333333;
    font-size: 14px;
    margin-top:20px;
    margin-bottom: 10px;
}
.nomi-year-info span {
    color: #CC0000;
}
.nomi-past-info{
    color: #666666;
    font-size: 14px;
}
/* ===========================================================================google 地圖修改*/
.olControlLayerSwitcher {
    background-color: transparent;
    color: white;
    font-family: "Open Sans","微軟正黑體",sans-serif;
    font-size: smaller;
    font-weight: normal;
    line-height: 1.77em;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-top: 3px;
    opacity: 0.85;
    position: absolute;
    right: 0;
    top: -8px;
    width: 13em;
}

.olControlLayerSwitcher .layersDiv .baseLbl, .olControlLayerSwitcher .layersDiv .dataLbl {
    font-family: "Open Sans","微軟正黑體",sans-serif;
    font-size: 12px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-top: 3px;
}
label {
    font-size: 13px;
    font-weight: normal;
    margin-left: 3px;
}
.olPopup h2 {
    font-size:90%;
    font-weight:bold;
}

.placemark-data{
     font-size:13px;
     letter-sapcing:0;
}
.placemark-url{
    background-image: url("pic/linktopage.png");
    background-position: 0 4px;
    background-repeat: no-repeat;
    margin-top: 15px;
    padding-left: 18px;
} 
.placemark-properties{
     background-image: url("pic/gis-position.png");
     background-repeat: no-repeat;
     margin-top:15px;

}
.olPopup content p{
     font-size:50%
}
/* ========================================================================================左側邊define*/

#reviewbar {

    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
}

.sliderbox {
    margin: 0 0 15px;
    width: 100%;
}
.sliderbox h3 {
    color: #99742E;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 7px 0 0;
}
ul, ol, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.sliderbox ul li {
    border-bottom:1px #DFDDD7 solid;
    display: block;
    margin: 0;
    overflow: hidden;
}

.sliderbox ul li a {
    display: block;
    min-height: 16px;
    padding: 4px 0 4px 22px;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
}
.sliderbox ul li a.plain {
    display: inline-block;
    padding: 0;
}
#sidebar li .icon_discuss {
    margin: 0 5px -4px -20px;
    text-decoration: none;
}
a span.icon_discuss {
    cursor: pointer;
}
.icomment span {
    /*background-position: -60px -20px;*/
}
.icon_discuss span {
 background-image: url("pic/discuss.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-top: 3px;
    min-width: 16px;
    vertical-align: top;
}

#sidebar li .icon_new_recommend {
    margin: 0 5px -4px -20px;
    text-decoration: none;
}
a span.icon_new_recommend {
    cursor: pointer;
}
.icon_new_recommend span {
 background-image: url("pic/icon_new_recommend.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-top: 3px;
    min-width: 16px;
    vertical-align: top;
}

#sidebar li .icon_hot_recommend {
    margin: 0 5px -4px -20px;
    text-decoration: none;
}
a span.icon_hot_recommend {
    cursor: pointer;
}
.icon_hot_recommend span {
 background-image: url("pic/icon_hot_recommend.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-top: 3px;
    min-width: 16px;
    vertical-align: top;
}

.sliderbox ul li span.explanation {
    color: #ABA387;
    display: block;
    font-size: 11px;
    margin-top: -3px;
    padding: 0 2px 2px 22px;
}

.topicbox {
    /* margin: 0 0 15px; */
    width: 100%;
}
.topicbox h3 {
    color: #99742E;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 7px 0 0;
}
ul, ol, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.topicbox ul li {
    border-bottom:1px #DFDDD7 solid;
    display: block;
    margin: 0;
    overflow: hidden;
}

.topicbox ul li a {
    display: block;
    min-height: 16px;
    padding: 4px 0 4px 0px;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
}
.topicbox ul li a.plain {
    display: inline-block;
    padding: 0;
}
.topicbox ul li span.explanation {
    color: #888;
    display: block;
    font-size: 11px;
    margin-top: -3px;
    padding: 4px 2px 4px 0px;
}

.plus {

    background: url("pic/reply.gif") no-repeat scroll 0 1px transparent;
    color: #333;
}
.ratemark {
    display: block;
    float: right;
    font-size: 13px;
    line-height: 12px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top: -15px;
    min-height: 7px;
    padding-left: 10px;
    vertical-align: top;
}

.authoritem-column {
    color: #666666;
    float: left;
    font-size: 12px;
    height: 75px;
    margin-bottom: 2px;
    margin-right: 3px;
    width: 51px;
}

dl.portlet dd.portletItem {
    padding-top: 5px;
    padding-right:0;
    padding-left:0;
}

/* ===========================================================================歷屆  Accordion menu */
.nomi-wrapper{
    font-size:85%;
}
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto;
}
#st-accordion ul {
    margin-left: 0;
}
.st-accordion ul li{
    height: 100px;
    border-bottom: 1px #999 dotted;
    border-top:1px solid #fff;
    overflow: hidden;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
    font-family: "Open Sans","微軟正黑體",sans-serif;
    text-shadow: 1px 1px 1px #fff;
    font-size: 1.5em;
    display: block;
    position: relative;
    line-height: 100px;
    outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
    -moz-transition:  color 0.2s ease-in-out;
    -o-transition:  color 0.2s ease-in-out;
    -ms-transition:  color 0.2s ease-in-out;
    transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
  background: transparent url(pic/down.png) no-repeat center center;
  text-indent:-9000px;
  width: 26px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: -26px;
  margin-top: -7px;
  opacity:0;
  -webkit-transition:  all 0.2s ease-in-out;
  -moz-transition:  all 0.2s ease-in-out;
  -o-transition:  all 0.2s ease-in-out;
  -ms-transition:  all 0.2s ease-in-out;
  transition:  all 0.2s ease-in-out;
}
.st-accordion ul li > a:hover{
  color: #cc0000;
}
.st-accordion ul li > a:hover span{
  opacity:1;
  right: 10px;
}
.st-accordion ul li.st-open > a{
  color: #cc0000;
}
.st-accordion ul li.st-open > a span{
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  transform:rotate(180deg);
  right:10px;
  opacity:1;
}
.st-content{
  /*padding: 5px 0px 30px 0px;*/
}
.st-content p{
  font-size:  15px;
  font-family: "Open Sans","微軟正黑體",sans-serif;
  font-style: normal;
  line-height:  28px;
  padding: 0px 4px 15px 4px; 
}
.st-content img{
  float:left;
  width:100px;
  margin-right:10px;
}
@media screen and (max-width: 320px){
  .st-accordion ul li > a{
  font-size: 36px;
  }
}
.past-nomi {
  margin-bottom:20px;
}
.past-nomi ul li {
  border-bottom: 0 none;
  margin-bottom: 0px;
}
/* =========================================================================== Q&A  Accordion menu */
.ac-menu,
.ac-menu ul,
.ac-menu li,
.ac-menu a,
{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size:14px;
  font-weight:normal;
}

.ac-menu span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size:14px;
  font-weight:normal;
  padding-left:20px;
}
.qa-answer {
  background-image: url("pic/icon-a.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
  margin-left: 20px;
  color:#cc0000;
}
.ac-menu li {
  font-weight: normal;
  list-style: none;
}

/* Accordian Style */

.ac-menu li > a {
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  font-weight:bold;
  display: block;
  min-width: 160px;
  padding-top: 20px;
  position: relative;
  text-decoration: none;
  height: 100%;
  padding-bottom: 20px;
}

.ac-menu > li:hover > a,
.ac-menu > li:target > a {
  text-shadow: 1px 1px 1px rgba(255,255,255, .2);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

/* Sub-Menu */

.sub-menu li a {
  border-bottom: 0 solid #C1BFBF;
  color: #CC0000;
  font-size: 14px;
  font-weight: normal;
}

.sub-menu li:hover a { background: #f6f5f5; }


/* Accordian Function */

.ac-menu li > .sub-menu {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .2s ease-in-out;
  -moz-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  -ms-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

.ac-menu li:target > .sub-menu {
  height: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* 提名觀察人tab 最新文章*/

.nomi-section li {
  border-bottom: 1px #d1d1d1 dotted;
  padding: 10px 0;
}
.nomi-title {
  font-size: 15px;
  font-weight: bold;
}
.nomi-article{
  margin-top:10px;
  font-style: normal;
  font-size:14px;
}

cite{
  display:inline-block;
  font-size:13px;
  color:#777;
  font-style: normal;
  font-weight: normal;
}
.more{
  font-size:12px;
}
/* 藝論紛紛 左側邊最新留言討論數*/

.thread-content {
  border-bottom: 1px dotted #BBBBBB;
  margin-bottom: 5px;
  margin-top: 10px;
}
.thread-title {
  line-height: 1.3em;
}
.thread-replyinfo {
  color: #8F8F8F;
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
}
.thread-comments {
  background-image: url("pic/icon-reply-small.png");
  background-repeat: no-repeat;
  color: #666666;
  display: inline-block;
  font-size: 11px;
  height: 15px;
  margin-top:10px;
  padding-left: 20px;
  padding-right: 20px;
}
.thread-time {
  display: inline-block;
}

.qrcode{
  clear: both;
  float: left;
  margin-right: 15px;
}
.tsholding{
  clear: both;
  float: right;
  margin-right: opx;
}
.banner-box img {
  width: 100%;
  height:auto;
}

#portal-logo img{
  width: 100%;
  height:auto;   
}

/* ----------------------------------------------------searching box setting */

#searchGadget {
  color:#666;
  border: 1px solid #BBBBBB;
  font-family: "Open Sans","微軟正黑體",sans-serif;
  font-size: 14px;
  height: 20px;
  width: 85%;
}

.LSBox {
    font-family: "Open Sans","微軟正黑體",sans-serif;
}
.LSBox button {
    background-color: transparent;
    border: medium none;
    cursor: pointer;
    position: absolute;
}
#LSResult {
    background: none repeat scroll 0 0 #C0C0C0;
    position: absolute;
    right: 0;
    margin-top: 10px;
    z-index: 9999;
}
#LSResult fieldset {
    background-color: #FFFFFF;
    border: 0.1em solid #CCCCCC;
    padding: 1em 0 0;
}
.contenttype-tbfac-info {
    letter-spacing: 0.05em;
}
#LSResult .LSDescr {
    color: #555555;
    font-size: 100%;
    padding-top: 10px;
}
.LSRow, #LSNothingFound {
    display: block;
    padding: 0.5em 1em;
    white-space: normal;
    width: 945px;
}

#livesearchLegend {
    background-color: #CC0000;
    color: #FFFFFF;
    padding: 0.3em;
}
#portal-searchbox {
    font-family: "Open Sans","微軟正黑體",sans-serif;
    font-size: 85%;
    text-align: left;
    width:250px;
}
.showalllink {
    background-color: #EEEEEE;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 2px 5px;
}

#mini-searchbox {
    display: none;
}
#mini-searchbox button {
    position: absolute;
    background-color: transparent;
    border: medium none;
    cursor: pointer;
    margin-left:3px;
}
#mini-searchbox .searchField {
    font-size: 16px;
    height: 26px;
    width: 82%;
}
#mini-searchbox .searchButton {
    font-size: 15px;
}
.addthis_default_style .at15t_expanded, .addthis_default_style .at15t_compact {
    margin-right: 4px;
    margin-top: 4px;
}
.line-space{
    display:none;
}

#content h1.documentFirstHeading {
    padding-top: 12px;
}
.expandicon{
    margin-top:-5px;
}

.exhib-date{
    margin-bottom:0.3em;
    font-size:0.9em;
    color:#888;
    letter-spacing:0.06em;
}
.dcoumentModified {
    color: #888;
    letter-spacing: 0;
}

.addthis_button_google_plusone.at300b {
    margin-right: -18px;
    margin-top: 3px;
}
.addthis_button_twitter.at300b {
    margin-right: 5px;
    margin-top: 5px;
}
.addthis_button_facebook_like.at300b {
    margin-top: 2px;
}
/* ===========================================================================最新留言頁*/
.commentpost {
    background: url("pic/comment-icon.png") no-repeat scroll 0 4px transparent;
    border-bottom: 1px dotted #BBBBBB;
    padding-left: 10px;
}

.commenticon {
    padding-left: 35px;
}
.commentopic {
    padding-left: 15px;
}
.commentreply {
    background: url("pic/icon-reply-small.png") no-repeat scroll 15px 5px transparent;
    color: #888888;
    padding-left: 35px;
}
#content dt {
    font-weight: normal;
    margin-bottom: 5px;
    margin-right: 0;
}
.more-comments {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}

#content ol, dl.portlet ol, div.portletStaticText ol {
    list-style-type: decimal;
    margin-bottom: 15px;
    margin-left: 0;
}

#content li, dl.portlet li, div.portletStaticText li {
    display: list-item;
    font-size: 1em;
    line-height: 1.5em;
}

.portletItemDetails {
    color:#888;
    border-bottom: 1px dotted #BBBBBB;
    display: block;
    font-size: 85%;
    line-height: 1.5em;
    margin-left: 0;
    padding-bottom: 5px;
    padding-top: 0.5em;
}
.author {
    display: block;
    padding-top: 5px;
}
.from {
    padding-top: 5px;
}
.disqus-comments-counter {
      
  display: inline-block;
}
.disqus-comments-counter a:link{
  clear:both;
  display: inline-block;
}
.tile {
    letter-spacing: 0.05em;
    line-height: 1.5em;
}
.tile img {
    margin-bottom: 1px;
    margin-right: -2px;
}
.comment-notes li {
    margin-bottom: 10px;
}
.comment-notes {
    margin-left:30px;
}

div.fbLikeCounter {
  float: right;
}
